$pineapple: yellow;
$pineappleSpike: green;

p {
  color: $pineappleSpike;
  background-color: $pineapple;
}

a {
  color: $pineappleSpike;
  background-color: $pineapple;
}

a::hover {
  color: $pineapple;
  background-color: $pineappleSpike;
}

// hehe
